.react-calendar {
  border: none;
  font-family: sans-serif;
}

.react-calendar__tile {
  background: white;
  color: #86705fff;
}

.react-calendar__tile--active {
  background: #4caf50;
  color: white;
}

.react-calendar__tile--now {
  background: #865506;
  color: white;
}

.react-calendar__navigation button {
  color: black;
  font-size: 15pt;
  background: #dfd6c7;
}

.calendar-wrapper {
  width: 400px;
}

.react-calendar {
  width: 90%;
}